.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 19rem;
  h1 {
    background: linear-gradient(90deg, #00dbde 10%, #fc00ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
  }
  .signup {
    display: flex;
    align-items: center;
    gap: 1rem;
    p {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
    }
    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        90deg,
        #ac32e4 0%,
        #7918f2 48%,
        #4801ff 100%
      );
      margin-top: 0.5rem;
    }
  }
}
