.footer {
  width: auto;
  padding: 0.5rem 3.3rem;
  div {
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    .services {
      border-top: 0px solid gray;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      img {
        width: 10rem;
        margin-right: 1rem;
      }
      a {
        color: gray;
        cursor: pointer;
      }
    }
    .social-links {
      border-top: 0px solid gray;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      img {
        width: 1.5rem;
        cursor: pointer;
      }
    }
  }
}
